---
# Build and deploy a Docker image for cijoe with access to Docker and QEMU.
#
# The image is built and pushed to GitHub Container Registry (GHCR) when:
# 1. Triggered manually via workflow_dispatch.
# 2. Changes are pushed to 'cijoe_docker' branch
#
# Refer to `.github/workflows/cijoe_docker.yml` for details on this workflow.
name: cijoe_docker

on:
  workflow_dispatch:
  push:
    branches:
    - 'cijoe_docker'

env:
  DOCKER_IMAGE: ghcr.io/${{ github.repository_owner }}/cijoe-docker
  DOCKER_TAG: v0.9.57

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v4.2.2

    - name: Authenticate to GitHub Container Registry
      uses: docker/login-action@v3.3.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build Docker image
      run: |
        docker buildx build \
          --build-arg CIJOE_VERSION=${{ env.DOCKER_TAG }} \
          --tag ${{ env.DOCKER_IMAGE }}:latest \
          --tag ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_TAG }} \
          --file .github/cijoe-docker/Dockerfile \
          .

    - name: Push Docker image to registry
      run: |
        docker push ${{ env.DOCKER_IMAGE }}:latest
        docker push ${{ env.DOCKER_IMAGE }}:${{ env.DOCKER_TAG }}
