---
name: verify_and_publish

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
    - "main"
    tags:
    - "v*"

defaults:
  run:
    shell: bash

jobs:
  format:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.12']

    steps:
    - name: Grab source
      uses: actions/checkout@v4.1.7

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5.2.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Python dependencies and their versions
      run: |
        brew update || true
        brew upgrade pipx || true
        make deps
        make info
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Install pre-commit
      run: |
        pipx install pre-commit --python ${{ matrix.python-version }}

    - name: Run pre-commit
      run: |
        make format-all

  unittest:
    needs: format
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.9', '3.10', '3.11', '3.12']

    steps:
    - name: Grab source
      uses: actions/checkout@v4.1.7
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5.2.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Python dependencies and their versions
      run: |
        brew update || true
        brew upgrade pipx || true
        make deps
        make info
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: All
      run: |
        make all
        cijoe -r

    - name: Upload coverage file
      if: always()
      uses: actions/upload-artifact@v4.3.0
      with:
        name: report-coverage-${{ matrix.python-version }}-${{ matrix.os }}
        path: .coverage
        if-no-files-found: error


  examples:
    needs: format
    runs-on: ubuntu-22.04

    # This is needed for 'guestmount' / 'libguestfs'
    env:
      LIBGUESTFS_BACKEND: direct

    container:
      image: ghcr.io/refenv/cijoe-docker:latest
      options: --privileged

    strategy:
      fail-fast: false
      matrix:
        usage_example:
        - core.default
        - fio.default
        - linux.default
        - qemu.build
        - qemu.guest_aarch64
        - qemu.guest_x86_64
        - system_imaging.aarch64
        - system_imaging.x86_64
        python-version: ['3.12']

    steps:
    - name: Grab source
      uses: actions/checkout@v4.2.2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5.3.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install packages
      run: |
        apt-get -qy update
        apt-get -qy install qemu-efi-aarch64
        ldd --version

    - name: Build and install cijoe from source
      run: |
        pipx uninstall cijoe
        make deps info build install
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Emit the example configuration file and workflow
      run: |
        cijoe --example ${{ matrix.usage_example }}

    - name: Run it!
      run: |
        coverage run \
          $(which cijoe) --monitor -l \
            --config cijoe-example-${{ matrix.usage_example}}/cijoe-config.toml \
            --workflow cijoe-example-${{ matrix.usage_example}}/cijoe-workflow.yaml

    - name: Coverage report
      run: |
        coverage report

    - name: Upload report
      if: always()
      uses: actions/upload-artifact@v4.3.0
      with:
        name: report-cijoe_packages-${{ matrix.usage_example }}
        path: cijoe-output/*
        if-no-files-found: error

    - name: Upload coverage files
      if: always()
      uses: actions/upload-artifact@v4.3.0
      with:
        name: report-coverage-${{ matrix.usage_example }}
        path: .coverage
        if-no-files-found: error


  publish:
    if: startsWith(github.ref, 'refs/tags/v')
    needs:
    - unittest
    - examples

    runs-on: ubuntu-latest
    steps:
    - name: Grab source
      uses: actions/checkout@v4.1.7
    - name: Set up Python
      uses: actions/setup-python@v5.2.0
      with:
        python-version: '3.9'

    - name: Python dependencies and their versions
      run: |
        make deps
        make info
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        make release


  publish-coverage:
    runs-on: ${{ matrix.os }}
    needs: [examples, unittest]
    container:
      image: ghcr.io/refenv/cijoe-docker:latest
      options: --privileged

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        python-version: ['3.12']

    steps:
    - name: Grab source
      uses: actions/checkout@v4.2.2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5.2.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Build and install cijoe from source
      run: |
        pipx uninstall cijoe || true
        make deps info build install
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Download all artifacts
      uses: actions/download-artifact@v4.1.8
      with:
          # If you omit 'name', all artifacts from previous jobs are downloaded.
        path: ./all_artifacts

    - name: Show downloaded artifacts
      run: |
        find all_artifacts -name '.coverage*' -exec coverage debug data {} \;
        coverage combine \
          all_artifacts/report-coverage**/.coverage**
        coverage report

    - name: Coveralls upload
      uses: coverallsapp/github-action@v2
